<%= render template: 'shared/navbar' %>

<div class="row justify-content-center login-form-header">
  <h1>Login as Returning User</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3 login-form-wrapper">
    <%= form_tag(session_path) do %>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email, "", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password, "", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag do %>
          Confirm Password
          <%= password_field_tag :password_confirmation, "", class: "form-control" %>
          <% end %>
      </div>
      <div class="form-group">
        <div class="form-check">
          <%= check_box_tag :remember_me %>
          <%= label_tag :remember_me %>
        </div>
      </div>
      <%= submit_tag "Login", class: "btn btn-secondary login-btn" %>
    <% end %>
  </div>
</div>
