<h1>Giving Page</h1>
<%= @giving.company_name %>
<%= @giving.name %>
<%= @giving.photo if @giving.photo %>
<%= @giving.blurb %>
<%= @giving.twitter %>
<%= @giving.instagram %>
<%= @giving.facebook %>
<%= @giving.email %>
<h3>Let's Discuss</h3>
