<div class="row">
  <div class="col-sm-6 offset-sm-3 user-form-wrapper">
    <%= simple_form_for current_user do |u| %>
      <div class="form-group justify-content-center">
          <%= u.input :first_name  %>
          <%= u.input :last_name %>
          <%= u.input :email %>
          <%= u.input :password %>
          <%= u.input :password_confirmation%>
          <%= u.button :submit, class: "btn btn-secondary" %>
        </div>
    <% end %>
  </div>
</div>
