<%= render template: 'shared/navbar' %>

<div class="row">
  <div class="col-sm-7 offset-sm-1">
    <h2>Search Results</h2>
  </div>
  <div class="col-sm-4">
    <%= render partial: 'shared/search_all_form' %>
  </div>
</div>

<div class="article-section">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h2>Text (<%= @texts.count %>)</h2>
      <% if @texts.empty? %>
        <p>No articles match search query</p>
      <% end %>
      <div class="row">
        <% @texts.each do |text| %>
          <%= render partial: 'texts/text_box', locals: { article: text } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="article-section">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h2>Video (<%= @videos.count %>)</h2>
      <% if @videos.empty? %>
        <p>No articles match search query</p>
      <% end %>
      <div class="row">
        <% @videos.each do |video| %>
          <%= render partial: 'videos/video_box', locals: { article: video } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="article-section">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h2>Spotlight (<%= @spotlights.count %>)</h2>
      <% if @spotlights.empty? %>
        <p>No articles match search query</p>
      <% end %>
      <div class="row">
        <% @spotlights.each do |spotlight| %>
          <%= render partial: 'spotlights/spotlight_box', locals: { article: spotlight } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="article-section">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <h2>Get Your Good On (<%= @givings.count %>)</h2>
      <% if @givings.empty? %>
        <p>No articles match search query</p>
      <% end %>
      <div class="row">
        <% @givings.each do |giving| %>
          <%= render partial: 'givings/giving_box', locals: { article: giving } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
