<%= render template: 'shared/navbar' %>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-10">
        <h1>Welcome, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
      </div>
    </div>
    <hr>
    <div clas="row">
      <div class="col-sm-10">
        <h2>Check out your recently saved articles:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row">
          <h2><%= link_to "Text", text_saved_path %></h2>
        </div>
        <div class="row">
          <% @texts.first(4).each do |text| %>
            <%= render partial: 'shared/text_box', locals: { article: text } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row">
          <h3><%= link_to "Video", video_saved_path %></h3>
        </div>
        <div class="row">
          <% @videos.first(4).each do |video| %>
            <%= render partial: "shared/video_box", locals: { article: video } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row">
          <h3><%= link_to "Spotlight", spotlight_saved_path %></h3>
        </div>
        <div class="row">
          <% @spotlights.first(4).each do |spotlight| %>
            <%= render partial: 'shared/spotlight_box', locals: { article: spotlight } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 offset-sm-1">
        <div class="row">
          <h3><%= link_to "Get Your Good On", giving_saved_path %></h3>
        </div>
        <div class="row">
          <% @gygos.first(4).each do |gygo| %>
            <%= render partial: 'shared/giving_box', locals: { article: gygo } %>
          <% end %>
        </div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h2>Personal Information</h2>

        <p>First Name: <%= current_user.first_name %> </p>

        <p>Last Name: <%= current_user.last_name %> </p>

        <p>Email: <%= current_user.email %> </p>

        <p><%= link_to "Edit Personal Information", edit_user_path(current_user) %> </p>
      </div>
    </div>
