<div class="row">
  <div class='col-sm-8 offset-sm-2 form-wrapper'>
  <%= simple_form_for video do |v| %>
    <%= v.input :headline %>
    <%= v.input :blurb %>
    <%= v.input :url %>
    <%= v.input :source %>
    <%= v.input :published_date %>
    <%= v.input :author %> 
    <%= v.input :photo %>
    <%= v.button :submit, class: 'btn btn-secondary create-video-btn' %>
  <% end %>
  </div>
</div>
