<div class="col-sm-3">
  <%= link_to(article.url, target: :_blank) do %>
    <p class="headline-text"><strong><%= article.headline %></strong></p>
    <div style="width: 75px; height: 75px; background-color:gray;">
      <%= article.photo unless nil %>
    </div>
    <p><%= article.source %> | <%= article.published_date %> </p>
    <p class="blurb-text"><%= article.blurb %></p>
    <%= render partial: "shared/action_buttons", locals: { article: article } %>
  <% end %>
</div>
