<div class="col-sm-2">
  <%= link_to 'Sign Out', logout_path %>
</div>

<div class="col-sm-8">
  <p>Quick Jump to Your Saved Articles: </p>
  <div class="row justify-content-center">
    <ul class='nav'>
      <li class='nav-item'>
        <p><%= link_to 'Text', "#", class: "nav-link text-link" %></p>
      </li>
      <li class='nav-item'>
        <p><%= link_to 'Spotlight', "#", class: "nav-link" %></p>
      </li>
      <li class='nav-item'>
        <h3><%= link_to 'Profile', user_path(current_user), class: "nav-link justify-content-center" %></h3>
      </li>
      <li class='nav-item'>
        <p><%= link_to 'Video', "#", class: "nav-link" %></p>
      </li>
      <li class='nav-item'>
        <p><%= link_to 'Do Good', "#", class: "nav-link" %></p>
      </li>
    </ul>
  </div>
</div>

<div class="col-sm-2 text-right">
  <p>Search Bar</p>
</div>
