<div class="col-sm-3">
  <%= link_to(article.url) do %>
    <p><%= article.company_name unless nil %></p>
    <p><%= article.name unless nil %></p>
    <div style="width: 200px; height: 200px; background-color:gray;">
      <%= article.photo unless nil %>
    </div>
    <p><%= article.blurb %></p>
    <%= link_to "Let's Discuss", polymorphic_path(article), class: 'btn btn-secondary btn-sm' if signed_in_user? %>
    <%= link_to "Save", "#", class: 'btn btn-secondary btn-sm' if signed_in_user? %>
    <%= link_to "Edit", edit_polymorphic_path(article), class: 'btn btn-secondary btn-sm edit-btn' if signed_in_admin? %>
    <%= link_to "Delete", polymorphic_path(article), method: "DELETE", class: 'btn btn-secondary btn-sm delete-btn', data: { confirm: "Are you sure you want to delete this article? This action cannot be undone." } if signed_in_admin? %>
  <% end %>
</div>
