<div class='navbar fixed-top nav-fill justify-content-center'>
  <ul class='nav'>
    <li class="nav-item">
      <% if signed_in_admin? %>
        <%= render partial: 'shared/admin_navbar' %>
      <% elsif signed_in_user? %>
        <%= render partial: 'shared/logged_in_nav' %>
      <% else %>
        <%= link_to "Sign Up", new_user_path, class: 'nav-link signup-link' %>
      <% end %>
    </li>
    <li class="nav-item">
      <h4><%= link_to "About", about_path, class: "nav-link about-link" %></h4>
    </li>
    <li class='nav-item justify-content-center'>
      <h4><%= link_to "Text", texts_path, class: "nav-link texts-link" %></h4>
    </li>
    <li class='nav-item'>
      <h4><%= link_to "Spotlight", spotlights_path, class: "nav-link spotlights-link" %></h4>
    </li>
    <li class='nav-item'>
      <h3><%=link_to 'GNN', home_path, class: "nav-link home-link", title: "Home Page"%></h3>
    </li>
    <li class='nav-item'>
      <h4><%= link_to "Video", videos_path, class: "nav-link videos-link" %></h4>
    </li>
    <li class='nav-item'>
      <h4><%= link_to "Do Good", givings_path, class: "nav-link gygos-link" %></h4>
    </li>
    <li class='nav-item'>
      <h4><%= link_to "Contact", contact_path, class: 'nav-link contact-link' %></h4>
    </li>
    <li class="nav-item">
      <% if signed_in_user? || signed_in_admin? %>
        <%= link_to "Cancel", user_path(current_user), class: 'nav-link cancel-link' if @edit_page %>
        <%= link_to "Sign Out", logout_path, class: "logout-link nav-link signout-link" unless @edit_page %>
      <% else %>
        <%= render template: 'sessions/new' %>
      <% end %>
    </li>
  </ul>
</div>
