<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class='collapse navbar-collapse justify-content-center ' id="navbarNavDropdown">
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item'>
        <h3><%=link_to "Home", home_path, class: "nav-link home-link", title: "Home Page"%></h3>
      </li>
      <li class="nav-item">
        <h6><%= link_to "About", about_path, class: "nav-link about-link" %></h6>
      </li>
      <li class='nav-item'>
        <h6><%= link_to "Read", texts_path, class: "nav-link texts-link" %></h6>
      </li>
      <li class='nav-item'>
        <h6><%= link_to "Watch", videos_path, class: "nav-link videos-link" %></h6>
      </li>
      <li class='nav-item'>
        <h6><%= link_to "Care", spotlights_path, class: "nav-link spotlights-link" %></h6>
      </li>
      <li class='nav-item'>
        <h6><%= link_to "Do", givings_path, class: "nav-link gygos-link" %></h6>
      </li>
      <li class='nav-item'>
        <h6><%= link_to "Contact", new_message_path, class: 'nav-link contact-link' %></h6>
      </li>
      <li class="nav-item">
        <h6><%= signup_cancel_link %></h6>
      </li>
      <li class="nav-item">
        <h6><%= login_logout_link if !signed_in_user? %></h6>
      </li>
    </ul>
    <%= render partial: 'shared/search_all_form' if !signed_in_admin? %>
  </div>
</nav>

<!-- <hr style="margin-top:0;"> -->

<div class="row justify-content-center title-wrapper">
  <h1>Good News, Everyone!</h1>
</div>

<hr>
