<h1>Spotlight Page</h1>
<%= @spotlight.company_name %>
<%= @spotlight.name %>
<%= @spotlight.photo if @spotlight.photo %>
<%= @spotlight.blurb %>
<%= @spotlight.description %> 
<%= @spotlight.twitter %>
<%= @spotlight.instagram %>
<%= @spotlight.facebook %>
<%= @spotlight.email %>
<h3>Let's Discuss</h3>
