<div class="col-sm-3">
  <%= link_to(article.url, target: :_blank) do %>
    <div class="row padding-LR-15">
      <p class="headline-text"><strong><%= article.headline %></strong></p>
    </div>
    <div class="row photo-author-block padding-LR-15">
      <%= image_tag(article.photo.url(:thumb), size: "75x75", class: "col-sm-4 padding-0 col-3 photo") unless nil %>
      <div class="col-sm-7 source-block col">
        <p><%= article.source unless nil %>
        <p><%= "By: " + article.author if article.author %></p>
        <p><%= article.published_date.strftime("%m/%d/%Y") unless nil %></p>
      </div>
    </div>
    <div class="row padding-LR-15">
      <p class="blurb-text"><%= article.blurb %></p>
      <%= render partial: "shared/action_buttons", locals: { article: article } %>
    </div>
  <% end %>
</div>
