<!DOCTYPE html>
<html>
  <head>
    <title>Gnn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

  </head>

  <body>

    <div class="container-fluid">

        <% flash.each do |type, message| %>
          <div class="flash-wrapper">
            <strong><%= type %>! <%= message %></strong>
          </div>
        <% end %>


      <%= yield %>

    </div>

  </body>
</html>
